.order-history {
    max-height: 416px;
    overflow-y: auto;
}

#profile-update-form .form-control {
    color: #3C3C3C !important;
}

#profile-update-form input::placeholder {
    color: #aab7c4 !important;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #3C3C3C;
}

#id_default_country option:first-child {
    color: #aab7c4;
}

.btn-add-to-bag {
    width: 100%;
    line-height: 1;
}

@media (max-width: 576px) {
    .wishlist-table img {
        max-width: 100px;
        height: auto;
    }

    .wishlist-table td, .wishlist-table th {
        max-width: 100%;
        width: 100%;
        word-wrap: break-word;
    }
}
