html {
    height: 100%;
}

body {
    background: url('/media/backgroundimage.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Poppins';
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: #FAB49A;
    color: #3C3C3C;
    min-width: 260px;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus {
    background: #3C3C3C;
    color: #FAB49A;
    box-shadow: 0 0 0 1px #FAB49A
}

.btn-black {
    background: #3C3C3C !important;
}

.btn-peach-quantity {
    background: #FAB49A;
    color: #3C3C3C !important;
    border: 1px solid #FAB49A;
}

.btn-peach-quantity:hover,
.btn-peach-quantity:active,
.btn-peach-quantity:focus {
    border: 1px solid white;
}

.btn-peach {
    background: #FAB49A;
    color: #3C3C3C !important;
    border: 1px solid #FAB49A;
}

.btn-peach:hover,
.btn-peach:active,
.btn-peach:focus {
    box-shadow: 1px 1px 5px #000;
}

.btn-outline-black {
    background: #3C3C3C;
    color: #FAB49A !important;
    border: 1px solid #FAB49A;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: #FAB49A;
    color: #3C3C3C !important;
}

.btn-search {
    background-color: #FAB49A;
    color: #3C3C3C;
}

.btn-search:hover,
.btn-search:focus,
.btn-search:active {
    background: #3C3C3C;
    color: #FAB49A;
    box-shadow: 0 0 0 1px #FAB49A;
}

.text-bag {
    color: #000 !important;
}

.text-black {
    color: #3C3C3C !important;
}

.border-black {
    border: 1px solid #3C3C3C !important;
}

.border-peach {
    border: 1px solid #FAB49A !important;
}

a.category-badge > span.badge:hover {
    background: #FAB49A !important;
    color: #3C3C3C !important;
}

.text-peach,
.text-peach-nav,
.text-logo {
    color: #FAB49A !important;
}

.text-peach-nav:hover,
.text-peach-nav:active,
.text-peach-nav:focus {
    text-shadow: 1px 1px 10px #000;
}

.text-custom {
    color: #FAB49A;
    text-shadow: 1px 1px 10px #000;
}

.logo-link {
    display: flex;
    align-items: center;
}

.text-logo {
    margin-left: 10px;
}

.bg-custom {
    background-color: #3C3C3C;
}

.bg-peach {
    background-color: #FAB49A;
}

.offer-font {
    color: #3C3C3C !important;
    text-transform: uppercase !important;
}

.search-bar {
    border: 1px solid #FAB49A;
}

.dropdown-menu {
    background-color: #FAB49A;
    color: #3C3C3C;
}

.mobile-search-dropdown {
    background-color: #3C3C3C;
    color: #3C3C3C;
}

.input-group-append {
    right: 0;
    z-index: 9999;
}

.navbar-toggler {
    background-color: #FAB49A !important;
    border-color: #3C3C3C !important;
}

.overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #3C3C3C;
    z-index: -1;
}

.hr-peach {
    border-color: #FAB49A;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* ----------------------------- bootstrap toasts */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 9999999999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: white; /* text-secondary */
}

.allauth-form-inner-content a {
    color: #FAB49A; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #FAB49A;
    border-radius: 50rem;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content label {
    color: white;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4 !important;
}

.form-control::placeholder {
    color: #aab7c4 !important;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #3C3C3C;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #FAB49A;
    border: 1px solid #FAB49A;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 50rem;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #FAB49A;
    background-color: #3C3C3C;
    border-color: #FAB49A;
}

.allauth-form-inner-content a {
	color: #FAB49A; /* text-info */
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

.already-in-wishlist {
    pointer-events: none; /* Disable pointer events */
}

.img-thumbnail {
    max-width: 100px;
    padding: 0;
    background: #3C3C3C;
    border: none !important;
}

.message-label {
    display: block;
    margin-bottom: 5px;
}

#message-field {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 132px;
    }

    body {
        height: calc(100vh - 132px);
    }

    .display-4.logo-font.text-custom {
        font-size: 2rem;
    }

    .nav-link {
        padding: 0.10rem;
    }

    .nav-link i.fa-lg,
    .text-peach-nav {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    #delivery-banner h4 {
        font-size: .9rem;
    }

    .btn.btn-outline-black.rounded-pill,
    .btn.btn-peach.rounded-pill {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded-pill.btn-lg,
    .btn.btn-peach.rounded-pill.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }

    ul {
        padding-right: .6rem;
        padding-left: 0rem;
        margin-top: 0.6rem;
        margin-bottom: 0.6rem;
    }
}

/* -------------------------------- Media Queries for Contact Form

/* Center the contact form on desktop screens */
@media (min-width: 992px) {
    .contact-form-container {
        margin: 0 auto; /* Center the container horizontally */
    }
}

/* Responsive adjustments for smaller screens */
@media (max-width: 767px) {
    .contact-form-container {
        padding-left: 15px;
        padding-right: 15px;
    }
}