{% extends "account/base.html" %}

{% block extra_title %}
Change Password
{% endblock %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}
    <hr class="hr-peach">
    <h2 class="logo-font mb-4 text-peach">{% trans "Change Password" %}</h2>
    <hr class="hr-peach">

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form|crispy }}
        <a class="btn btn-outline-black rounded-pill" href="{% url 'account_login' %}">Back to Login</a>
        <button type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
{% endblock %}
