{% extends "base.html" %}
{% load static %}

{% block extra_title %}
Profile
{% endblock %}

{% block content %}
<div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr class="hr-peach">
                <h2 class="logo-font mb-4 text-peach text-center">My Profile</h2>
                <hr class="hr-peach">
            </div>
        </div>
    </div>
</div>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
</form>
{% endblock %}